In [ ]:
import pandas as pd

In [ ]:
visitor_pd=pd.read_csv("whitehouse_visitors.csv")

In [ ]:
import csv

In [ ]:
with open("whitehouse_visitors.csv") as f:
    read=csv.reader(f)
    potus=list(read)

In [ ]:
header=potus[0]
potus=potus[1:]

In [ ]:
visitor_pd.shape

In [ ]:
visitor_pd.head()

In [ ]:
print(potus)

In [ ]:
print(potus[:5])

In [ ]:
import datetime as dt

In [ ]:
dt.datetime(2015,1,6,23,59).year

In [ ]:
dt.datetime(2015,1,6,23,59).hour

In [ ]:
'1/6/15 23:59'[4:6]

In [ ]:
'20'+'1/6/15 23:59'[4:6]

In [ ]:
inde=dt.datetime(1947,8,14)

In [ ]:
inde

In [ ]:
inde.strftime("%A"

In [ ]:
date='1/6/15 9:30'
date_format="%m"/"%d"/"%y" "H":"M"

In [1]:
import csv

In [2]:
with open ("whitehouse_visitors.csv") as f:
    white_house=list(csv.reader(f))

In [3]:
header=white_house[0]

In [4]:
white_house=white_house[1:]

In [6]:
print(white_house[:5])

[['Joshua T. Blanton', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Jack T. Gutting', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Bradley T. Guiles', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Loryn F. Grieb', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Travis D. Gordon', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']]

In [7]:
import datetime as dt

In [17]:
time_w=dt.datetime(1990,6,30,23,30)

In [15]:
"20"+'1/6/15 23:59'[4:6]

'2015'

In [18]:
time_w.strftime("%A")

'Saturday'

In [38]:
time_w.strftime("%p")

'PM'

In [35]:
time_w.strftime()

TypeError: strftime() missing required argument 'format' (pos 1)

In [41]:
date='1/6/15 23:59'
date_format="%m/%d/%y %H:%M"

In [42]:
for i in white_house:
    appt=i[2]
    appt=dt.datetime.strptime(appt,date_format)
    i[2]=appt

In [8]:
def date_num(column):
    date_format="%m/%d/%y %H:%M"
    for i in column:
        appt=dt.datetime.strptime(column,date_format)
    return appt

In [44]:
print(white_house[:5])

[['Joshua T. Blanton', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Jack T. Gutting', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Bradley T. Guiles', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Loryn F. Grieb', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Travis D. Gordon', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']]

In [10]:
import datetime as dt

In [11]:
date_num('1/6/15 23:59')

datetime.datetime(2015, 1, 6, 23, 59)

In [45]:
for i in white_house:
    i[3]=dt.datetime.strptime(i[3],date_format)

In [46]:
print(white_house[:5])

[['Joshua T. Blanton', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Jack T. Gutting', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Bradley T. Guiles', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Loryn F. Grieb', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Travis D. Gordon', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard']]

In [52]:
year=[]
for i in white_house:
    yr=i[2].year
    year.append(yr)

In [53]:
year

[2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 ...]

In [54]:
set(year)

{2015}

In [57]:
visiotir_detail={}
for i in white_house:
    month_year=i[2].strftime("%B,%Y")
    if month_year not in visiotir_detail:
        visiotir_detail[month_year]= 1
    else:
        visiotir_detail[month_year] +=1

In [58]:
visiotir_detail

{'January,2015': 1248,
 'February,2015': 2165,
 'March,2015': 2262,
 'April,2015': 4996,
 'May,2015': 3013,
 'June,2015': 7743,
 'July,2015': 2930,
 'August,2015': 1350,
 'September,2015': 4416,
 'October,2015': 3669,
 'November,2015': 1133,
 'December,2015': 13029}

In [59]:
appt_time=[]
for i in white_house:
    appt_time.append(i[2].time())

In [60]:
min(appt_time)

datetime.time(6, 0)

In [61]:
max(appt_time)

datetime.time(21, 30)

In [62]:
appt_time[100]

datetime.time(10, 0)

In [64]:
appt_time[100].strftime("%H:%M")

'10:00'

In [70]:
appt_time[337].strftime("%I:%M")

'01:00'

In [71]:
dotm=[]
for i in white_house:
    d=i[3]-i[2]
    dotm.append(d)

In [74]:
dotm[390]

datetime.timedelta(seconds=39540)

In [75]:
min(dotm)

datetime.timedelta(seconds=8940)

In [89]:
dt.timedelta(hours= 0)

datetime.timedelta(0)

In [83]:
dt.datetime.now()

datetime.datetime(2024, 2, 17, 3, 33, 57, 391868)

In [84]:
 dt.timedelta(days= 10, seconds = 75600)

datetime.timedelta(days=10, seconds=75600)

In [87]:
dt.datetime.now()+ dt.timedelta(days= 12, seconds = 75600)

datetime.datetime(2024, 3, 1, 0, 36, 1, 876912)

In [90]:
sum(dotm,dt.timedelta(hours= 0))

datetime.timedelta(days=21210, seconds=50520)

In [1]:
import pandas as pd

In [3]:
whitehouse_visitors_pd=pd.read_csv("whitehouse_visitors.csv")

In [16]:
whitehouse_visitors_pd["appt_start_date"].astype

<bound method NDFrame.astype of 0           1/6/15 9:30
1           1/6/15 9:30
2           1/6/15 9:30
3           1/6/15 9:30
4           1/6/15 9:30
              ...
47949    12/18/15 16:30
47950    12/18/15 16:30
47951    12/18/15 16:30
47952    12/18/15 16:30
47953    12/18/15 16:30
Name: appt_start_date, Length: 47954, dtype: object>

In [18]:
whitehouse_visitors_pd["appt_start_date"]=whitehouse_visitors_pd["appt_start_date"].apply(date_num)

In [21]:
whitehouse_visitors_pd["appt_end_date"]=whitehouse_visitors_pd["appt_end_date"].apply(date_num).astype

In [23]:
whitehouse_visitors_pd["appt_end_date"].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [1]:
import csv

In [2]:
with open("hackers.csv") as f:
    hacker=list(csv.reader(f))

In [3]:
header=hacker[0]
hn=hacker[1:]

In [4]:
header

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [5]:
print(hn[:2])

[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']]

In [6]:
len(hn)

20100

In [7]:
Ask_post=[]
Show_post=[]
other_post=[]
for row in hn:
    tittle=row[1].lower()
    if tittle.startswith("ask hn"):
        Ask_post.append(row)
    elif tittle.startswith("show hn"):
        Show_post.append(row)
    else:
        other_post.append(row)

In [8]:
total_ask_average=0
total_show_average=0
for post in Ask_post:
        c=int(post[4])
        total_ask_average +=c
for post in Show_post:
    c=int(post[4])
    total_show_average +=c

In [9]:
total_ask_average

24483

In [10]:
total_show_average

11988

In [11]:
total_ask_average/len(Ask_post)

14.038417431192661

In [12]:
total_show_average/len(Show_post)

10.31669535283993

In [26]:
print(Ask_post[:5])

[['12296411', 'Ask HN: How to improve my personal website?', '', '2', '6', 'ahmedbaracat', '8/16/2016 9:55'], ['10610020', 'Ask HN: Am I the only one outraged by Twitter shutting down share counts?', '', '28', '29', 'tkfx', '11/22/2015 13:43'], ['11610310', 'Ask HN: Aby recent changes to CSS that broke mobile?', '', '1', '1', 'polskibus', '5/2/2016 10:14'], ['12210105', 'Ask HN: Looking for Employee #3 How do I do it?', '', '1', '3', 'sph130', '8/2/2016 14:20'], ['10394168', 'Ask HN: Someone offered to buy my browser extension from me. What now?', '', '28', '17', 'roykolak', '10/15/2015 16:38']]

In [13]:
import datetime as dt

In [ ]:
date=10/15/2015 16:38
date_format=

In [ ]:
for post in Ask_post:
    d=post[-1]

In [14]:
import csv

In [15]:
import pandas as pd

In [16]:
with open("hackers.csv")as f:
    hackers=list(csv.reader(f))
    header=hackers[0]
    hacker=hackers[1:]

In [17]:
header

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [18]:
print(hacker[:5])

[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']]

In [7]:
import datetime as dt

In [19]:

date_format="%m/%d/%Y %H:%M"

In [20]:
for i in hacker:
    date=i[-1]
    date=dt.datetime.strptime(date,date_format)
    i[-1]=date

In [10]:
print(hacker[:5])

[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', datetime.datetime(2016, 8, 4, 11, 52)], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', datetime.datetime(2016, 1, 26, 19, 30)], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', datetime.datetime(2016, 6, 23, 22, 20)], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', datetime.datetime(2016, 6, 17, 0, 1)], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', datetime.datetime(2015, 9, 30, 4, 12)]]

In [21]:
hacker_pd=pd.read_csv("hackers.csv")

In [22]:
hacker_pd["created_at"]=pd.to_datetime(hacker_pd["created_at"],format=date_format)

In [23]:
hacker_pd.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,2016-08-04 11:52:00
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,2016-01-26 19:30:00
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,2016-06-23 22:20:00
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,2016-06-17 00:01:00
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,2015-09-30 04:12:00

In [24]:
Ask_hn=[]
show_hn=[]
other_hn=[]
for i in hacker:
    tittle=i[1].lower()
    if tittle.startswith ("ask hn"):
        Ask_hn.append(i)
    elif tittle.startswith ("show hn"):
        show_hn.append(i)
    else:
        other_hn.append(i)

In [25]:
len(Ask_hn)

1744

In [26]:
len(show_hn)

1162

In [27]:
len(other_hn)

17194

In [28]:
mask01=hacker_pd["title"].str.lower().str.startswith("ask hn")

In [29]:
Ask_pd=hacker_pd.loc[mask01]

In [30]:
mask02=hacker_pd["title"].str.lower().str.startswith("show hn")

In [31]:
Show_pd=hacker_pd[mask02]

In [32]:
other_pd=hacker_pd[~hacker_pd['title'].str.lower().str.startswith(('ask hn', 'show hn'))]

In [33]:
sum_ask=0
sum_show=0
for i in Ask_hn:
    comnt= int(i[4])
    sum_ask +=comnt
for i in show_hn:
    comnt=int(i[4])
    sum_show +=comnt

In [34]:
sum_ask

24483

In [35]:
sum_show

11988

In [36]:
Ask_pd["num_comments"].sum()

24483

In [37]:
Ask_pd["num_comments"].count()

1744

In [38]:
Ask_pd["num_comments"].sum()/Ask_pd["num_comments"].count()

14.038417431192661

In [39]:
Show_pd["num_comments"].sum()

11988

In [40]:
Show_pd["num_comments"].count()

1162

In [41]:
Show_pd["num_comments"].sum()/Show_pd["num_comments"].count()

10.31669535283993

In [42]:
other_pd["num_comments"].sum()

462055

In [43]:
other_pd["num_comments"].count()

17194

In [85]:
other_pd["num_comments"].sum()/other_pd["num_comments"].count()

26.8730371059672

In [44]:
coment_hour={}
no_of_coments={}
for i in Ask_hn:
    hour=i[-1].strftime("%H")
    coment=int(i[4])
    if hour not in coment_hour:
        coment_hour[hour]=coment
        no_of_coments[hour] =1
    else:
        
        coment_hour[hour] +=coment
        no_of_coments[hour] +=1

In [45]:
coment_hour

{'09': 251,
 '13': 1253,
 '10': 793,
 '14': 1416,
 '16': 1814,
 '23': 543,
 '12': 687,
 '17': 1146,
 '15': 4477,
 '21': 1745,
 '20': 1722,
 '02': 1381,
 '18': 1439,
 '03': 421,
 '05': 464,
 '19': 1188,
 '01': 683,
 '22': 479,
 '08': 492,
 '04': 337,
 '00': 447,
 '06': 397,
 '07': 267,
 '11': 641}

In [46]:
no_of_coments

{'09': 45,
 '13': 85,
 '10': 59,
 '14': 107,
 '16': 108,
 '23': 68,
 '12': 73,
 '17': 100,
 '15': 116,
 '21': 109,
 '20': 80,
 '02': 58,
 '18': 109,
 '03': 54,
 '05': 46,
 '19': 110,
 '01': 60,
 '22': 71,
 '08': 48,
 '04': 47,
 '00': 55,
 '06': 44,
 '07': 34,
 '11': 58}

In [47]:
coment_hour_list=[]
for k,v in coment_hour.items():
    data=[v,k]
    coment_hour_list.append(data)

In [48]:
sorted(coment_hour_list,reverse=True)

[[4477, '15'],
 [1814, '16'],
 [1745, '21'],
 [1722, '20'],
 [1439, '18'],
 [1416, '14'],
 [1381, '02'],
 [1253, '13'],
 [1188, '19'],
 [1146, '17'],
 [793, '10'],
 [687, '12'],
 [683, '01'],
 [641, '11'],
 [543, '23'],
 [492, '08'],
 [479, '22'],
 [464, '05'],
 [447, '00'],
 [421, '03'],
 [397, '06'],
 [337, '04'],
 [267, '07'],
 [251, '09']]

In [53]:
average={}
for hour in coment_hour:
    coment=coment_hour[hour]
    n_of=no_of_coments[hour]
    average_coments=coment/n_of
    average[hour]=round(average_coments,2)

In [54]:
average

{'09': 5.58,
 '13': 14.74,
 '10': 13.44,
 '14': 13.23,
 '16': 16.8,
 '23': 7.99,
 '12': 9.41,
 '17': 11.46,
 '15': 38.59,
 '21': 16.01,
 '20': 21.52,
 '02': 23.81,
 '18': 13.2,
 '03': 7.8,
 '05': 10.09,
 '19': 10.8,
 '01': 11.38,
 '22': 6.75,
 '08': 10.25,
 '04': 7.17,
 '00': 8.13,
 '06': 9.02,
 '07': 7.85,
 '11': 11.05}

In [77]:
Ask_pd["hour"]=Ask_pd['created_at'].dt.to_period('H')

C:\Users\user\AppData\Local\Temp\ipykernel_11488\1686388360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ask_pd["hour"]=Ask_pd['created_at'].dt.to_period('H')

In [80]:
Ask_pd["hour"]

7        2016-08-16 09:00
17       2015-11-22 13:00
22       2016-05-02 10:00
30       2016-08-02 14:00
31       2015-10-15 16:00
               ...
20039    2016-01-29 09:00
20042    2016-08-07 12:00
20045    2016-07-04 08:00
20048    2016-03-05 01:00
20061    2016-05-21 09:00
Name: hour, Length: 1744, dtype: period[H]

In [71]:
run

In [76]:
run["num_comments"]

In [61]:
Ask_pd.head()

,id,title,url,num_points,num_comments,author,created_at,hour
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00,9
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00,13
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00,10
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00,14
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00,16

In [86]:
Ask_pd.loc[:,["hour","num_comments"]].sum()

TypeError: 'PeriodArray' with dtype period[H] does not support reduction 'sum'

In [69]:
Ask_pd["hour"]

7         9
17       13
22       10
30       14
31       16
         ..
20039     9
20042    12
20045     8
20048     1
20061     9
Name: hour, Length: 1744, dtype: int32

In [87]:
Ask_pd.groupby('hour')['num_comments'].sum()

hour
2015-09-06 14:00     6
2015-09-07 19:00     4
2015-09-08 14:00     2
2015-09-09 15:00    42
2015-09-09 20:00     1
                    ..
2016-09-24 08:00     1
2016-09-24 14:00     1
2016-09-24 16:00     5
2016-09-24 21:00     2
2016-09-26 01:00     3
Freq: H, Name: num_comments, Length: 1560, dtype: int64

In [106]:
Ask_pd["hour"].dt.hour

AttributeError: Can only use .dt accessor with datetimelike values

In [92]:
Ask_pd.head()

,id,title,url,num_points,num_comments,author,created_at,hour
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00,9
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00,13
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00,10
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00,14
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00,16

In [97]:
Ask_pd.loc[:,["hour","num_comments"]]

       hour  num_comments
7         9             6
17       13            29
22       10             1
30       14             3
31       16            17
...     ...           ...
20039     9            17
20042    12             3
20045     8             2
20048     1             4
20061     9             2

[1744 rows x 2 columns]

In [107]:
Ask_pd.head()

,id,title,url,num_points,num_comments,author,created_at,hour
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00,9
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00,13
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00,10
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00,14
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00,16

In [111]:
Ask_pd.groupby('hour')['num_comments'].sum()

hour
9      251
7      267
4      337
6      397
3      421
0      447
5      464
22     479
8      492
23     543
11     641
1      683
12     687
10     793
17    1146
19    1188
13    1253
2     1381
14    1416
18    1439
20    1722
21    1745
16    1814
15    4477
Name: num_comments, dtype: int64

In [112]:
Ask_pd.groupby('hour')['num_comments'].count()

hour
0      55
1      60
2      58
3      54
4      47
5      46
6      44
7      34
8      48
9      45
10     59
11     58
12     73
13     85
14    107
15    116
16    108
17    100
18    109
19    110
20     80
21    109
22     71
23     68
Name: num_comments, dtype: int64

In [122]:
(Ask_pd.groupby('hour')['num_comments'].sum()/Ask_pd.groupby('hour')['num_comments'].count()).sort_values(ascending=False).round(2)

hour
15    38.59
2     23.81
20    21.52
16    16.80
21    16.01
13    14.74
10    13.44
14    13.23
18    13.20
17    11.46
1     11.38
11    11.05
19    10.80
8     10.25
5     10.09
12     9.41
6      9.02
0      8.13
23     7.99
7      7.85
3      7.80
4      7.17
22     6.75
9      5.58
Name: num_comments, dtype: float64

In [ ]:
'09': 5.58,
 '13': 14.74,
 '10': 13.44,
 '14': 13.23,
 '16': 16.8,
 '23': 7.99,
 '12': 9.41,
 '17': 11.46,
 '15': 38.59,
 '21': 16.01,
 '20': 21.52,
 '02': 23.81,
 '18': 13.2,
 '03': 7.8,
 '05': 10.09,
 '19': 10.8,
 '01': 11.38,
 '22': 6.75,
 '08': 10.25,
 '04': 7.17,
 '00': 8.13,
 '06': 9.02,
 '07': 7.85,
 '11': 11.05}

In [126]:
Ask_pd.groupby("hour")

In [128]:
Ask_pd.groupby("hour")['num_comments'].sum()

hour
0      447
1      683
2     1381
3      421
4      337
5      464
6      397
7      267
8      492
9      251
10     793
11     641
12     687
13    1253
14    1416
15    4477
16    1814
17    1146
18    1439
19    1188
20    1722
21    1745
22     479
23     543
Name: num_comments, dtype: int64