# First Session

Python For Data Science With AI

In [1]:
1+2

3

In [2]:
1+2
3+5

8

In [3]:
print(1+2)
3+5

3

8

In [4]:
print(1+2)
print(3+5)

3
8

In [5]:
print(1+2) # We are on the 1st session
print(3+5)

3
8

In [6]:
We are on the 1st session

SyntaxError: invalid decimal literal (3219598487.py, line 1)

In [8]:
3+2*9-6+(8/2) # 10,19,31,43,11,13,4,23, PEMDAS

3+2*9-6+4
3+18-6+4
19

19

In [9]:
3+2*9-6+(8/2) # 10,19,31,43,11,13,4,23, PEMDAS

19.0

In [10]:
4/2

2.0

In [11]:
2+3

5

In [17]:
def readfile(file_name,header=True):
    if header==True:
        data=list(csv.reader(open(file_name,encoding = "utf-8")))
        _headers=data[0]
        data=data[1:]
    return headers,data
    
    else:
        data=list(csv.reader(open(file_name,encoding = "utf-8")))
        return data

SyntaxError: invalid syntax (3745698406.py, line 8)

In [18]:
import csv

def readfile(file_name, header=True):
    if header:
        data = list(csv.reader(open(file_name, encoding="utf-8")))
        headers = data[0]
        data = data[1:]
        return headers, data
    else:
        data = list(csv.reader(open(file_name, encoding="utf-8")))
        return data

In [19]:
headers,data=readfile("playstore.csv")

In [20]:
headers

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [1]:
l=list(range(15))

In [2]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
len(l)

15

In [8]:
total_count = 0
for _ in l:
    total_count +=1

In [9]:
total_count

15

In [14]:
def count(data):
    total_count = 0 
for _ in data:
    total_count +=1
return total_count

NameError: name 'data' is not defined

In [15]:
def count(data):
    total_count = 0 
    for _ in data:
        total_count += 1
    return total_count

In [16]:
count(l)

15

In [15]:
headers

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [16]:


data[0]

['Photo Editor & Candy Camera & Grid & ScrapBook',
 'ART_AND_DESIGN',
 '4.1',
 '159',
 '19M',
 '10,000+',
 'Free',
 '0',
 'Everyone',
 'Art & Design',
 'January 7, 2018',
 '1.0.0',
 '4.0.3 and up']

In [1]:
import csv

In [2]:
with open("banana_quality.csv") as f:
    data=list(csv.reader(f))
    header=data[0]
    data=data[1:]

In [3]:
header

['Size',
 'Weight',
 'Sweetness',
 'Softness',
 'HarvestTime',
 'Ripeness',
 'Acidity',
 'Quality']

In [4]:
import pandas as pd

In [6]:
data_pd=pd.read_csv("banana_quality.csv")

In [10]:
data_pd.shape

(8000, 8)

In [16]:
sum_ac=0
for i in data:
    if i[-1]=="Good":
        sum_ac +=float(i[-2])

In [17]:
sum_ac

27.067004365719104

In [19]:
count=0
for i in data:
    if i[-1]=="Good":
        count +=1

In [20]:
count

4006

In [21]:
sum_ac/count

0.006756616167179008

In [33]:
data_pd.Quality=="Good"

0        True
1        True
2        True
3        True
4        True
        ...
7995    False
7996    False
7997    False
7998    False
7999    False
Name: Quality, Length: 8000, dtype: bool

In [29]:
data_pd.loc[data_pd.Quality=="Good"]["Acidity"].mean()

0.006756616167179255

In [43]:
data_pd.pivot_table(values="Acidity",columns="Quality",aggfunc="std")

Quality       Bad      Good
Acidity  2.211917  2.372258

In [58]:
main_list=[]
for i in data:
    sweet=float(i[-6])
    if sweet>=2.0 and sweet<=3.0:
        main_list.append(i)

In [59]:
len(main_list)

368

In [60]:
pd.DataFrame(main_list,columns=header)

,Size,Weight,Sweetness,Softness,HarvestTime,Ripeness,Acidity,Quality
0,-2.0318587,1.3767682,2.2734401,-2.2057126,0.41215587,3.757726,3.1004484,Good
1,2.0621698,1.5615295,2.5703752,-1.8647795,-0.44219488,2.2499652,4.70331,Good
2,-1.9652935,-0.06748736,2.6001945,-1.7930973,-1.6579864,1.0869076,2.335015,Good
3,-0.8328398,0.6344345,2.8857996,-1.018919,-1.476629,0.09706835,1.8400067,Good
4,-0.47838327,1.2760094,2.0892775,-0.27186796,-0.9304542,1.2834822,3.8400788,Good
...,...,...,...,...,...,...,...,...
363,-3.2349498,-2.6076138,2.6205332,1.8316296,-0.056623954,0.32338053,-0.8257309,Bad
364,-3.6606069,2.185512,2.7170763,1.2544135,0.35569912,-1.3294989,4.0603633,Bad
365,-4.3856716,1.0842898,2.1054387,1.3834324,-2.0792463,-0.042838756,3.800508,Bad
366,-3.0025156,-0.22629987,2.2006247,1.5567461,-1.269556,0.24930413,1.6283996,Bad
367,-3.9012096,0.36483932,2.0043974,1.8095461,-1.1069522,-1.5863168,1.8969749,Bad

In [57]:
((data_pd["Sweetness"]>=2)&(data_pd["Sweetness"]<=3)).sum()

368

In [66]:
data_pd[(data_pd["Sweetness"]>=2)&(data_pd["Sweetness"]<=3)]

,Size,Weight,Sweetness,Softness,HarvestTime,Ripeness,Acidity,Quality
11,-2.031859,1.376768,2.273440,-2.205713,0.412156,3.757726,3.100448,Good
12,2.062170,1.561530,2.570375,-1.864780,-0.442195,2.249965,4.703310,Good
16,-1.965294,-0.067487,2.600195,-1.793097,-1.657986,1.086908,2.335015,Good
23,-0.832840,0.634435,2.885800,-1.018919,-1.476629,0.097068,1.840007,Good
28,-0.478383,1.276009,2.089278,-0.271868,-0.930454,1.283482,3.840079,Good
...,...,...,...,...,...,...,...,...
7533,-3.234950,-2.607614,2.620533,1.831630,-0.056624,0.323381,-0.825731,Bad
7546,-3.660607,2.185512,2.717076,1.254414,0.355699,-1.329499,4.060363,Bad
7668,-4.385672,1.084290,2.105439,1.383432,-2.079246,-0.042839,3.800508,Bad
7670,-3.002516,-0.226300,2.200625,1.556746,-1.269556,0.249304,1.628400,Bad
7992,-3.901210,0.364839,2.004397,1.809546,-1.106952,-1.586317,1.896975,Bad

In [67]:
car_pd=pd.read_csv("car_prices.csv")

In [68]:
import func

In [70]:
header,car=func.read_csv("car_prices.csv")

In [71]:
header

['year',
 'make',
 'model',
 'trim',
 'body',
 'transmission',
 'vin',
 'state',
 'condition',
 'odometer',
 'color',
 'interior',
 'seller',
 'mmr',
 'sellingprice',
 'saledate']

In [73]:
car_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [85]:
(car_pd.make.isnull()).sum()

10301

In [86]:
10301+548536

558837

In [91]:
car_pd["make"]=car_pd["make"].fillna(method="ffill")

In [92]:
car_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          558837 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [106]:
car_pd.iloc[744]

year                                               2012
make                                                Bmw
model                                          6 Series
trim                                               650i
body                                        Convertible
transmission                                  automatic
vin                                   wbalz3c5xcdl71530
state                                                ca
condition                                          38.0
odometer                                        28925.0
color                                             white
interior                                          black
seller           financial services remarketing (lease)
mmr                                             48500.0
sellingprice                                    50500.0
saledate        Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
Name: 744, dtype: object

In [104]:
car_pd['make']=car_pd['make'].str.title()

In [113]:
car_pd['saledate']=car_pd['saledate'].fillna(method="ffill")

In [115]:
pd.to_datetime(car_pd['saledate'], format='%a %b %d %Y %H:%M:%S GMT%z (%Z)')

ValueError: Cannot parse both %Z and %z

In [116]:
pd.to_datetime(car_pd['saledate'], format='%a %b %d %Y %H:%M:%S GMT%z (%Z)')

ValueError: Cannot parse both %Z and %z

In [117]:
Extract UTC offset and timezone abbreviation
offsets = car_pd['saledate'].str.extract(r'GMT([-+]\d{4}) \((\w{3})\)')

# Add UTC offset and timezone abbreviation as separate columns
car_pd['utc_offset'] = pd.to_timedelta(offsets[0], unit='hour')
car_pd['timezone'] = offsets[1]

# Remove UTC offset and timezone abbreviation from the datetime strings
car_pd['saledate'] = car_pd['saledate'].str.replace(r'GMT[-+]\d{4} \(\w{3}\)', '').str.strip()

# Convert the 'saledate' column to datetime format
car_pd['saledate'] = pd.to_datetime(car_pd['saledate'], format='%a %b %d %Y %H:%M:%S')

SyntaxError: invalid syntax (468474341.py, line 1)