In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, MinMaxScaler

In [2]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [4]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
df.columns.values

array(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'], dtype=object)

In [6]:
df.embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [7]:
df.drop("deck",axis=1,inplace=True)

In [8]:
df.age.fillna(df.age.median(),inplace=True)
df.fare.fillna(df.fare.median(),inplace=True)

In [9]:
df.embark_town.mode()[0]

'Southampton'

In [10]:
df.embark_town.value_counts()

embark_town
Southampton    644
Cherbourg      168
Queenstown      77
Name: count, dtype: int64

In [11]:
df.embarked.fillna(df.embarked.mode()[0],inplace=True)
df.embark_town.fillna(df.embark_town.mode()[0],inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

In [13]:
for col in df.columns:
    if df[col].dtype.name=="object" or df[col].dtype.name=="category":
        #print(col)
           df[col]=LabelEncoder().fit_transform(df[col])

In [14]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,2,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,13.0000,2,1,1,True,2,0,True
887,1,1,0,19.0,0,0,30.0000,2,0,2,False,2,1,True
888,0,3,0,28.0,1,2,23.4500,2,2,2,False,2,0,False
889,1,1,1,26.0,0,0,30.0000,0,0,1,True,0,1,True
890,0,3,1,32.0,0,0,7.7500,1,2,1,True,1,0,True

In [15]:
X=df.drop("survived",axis=1)
Y=df["survived"]

In [16]:
X.shape

(891, 13)

In [17]:
Y.shape

(891,)

In [18]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20,random_state=40)

In [19]:
X_train.shape

(712, 13)

In [20]:
X_test.shape

(179, 13)

In [21]:
model=LogisticRegression()

In [22]:
model.fit(X_train,Y_train)

C:\Users\user\AppData\Local\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [23]:
Y_predict_test=model.predict(X_test)

In [24]:
accuracy_score(Y_test,Y_predict_test)

1.0

In [25]:
pd.DataFrame({"orginal":Y_test,"Pred":Y_predict_test,"Error":Y_test-Y_predict_test})

     orginal  Pred  Error
246        0     0      0
588        0     0      0
472        1     1      0
71         0     0      0
654        0     0      0
..       ...   ...    ...
284        0     0      0
727        1     1      0
599        1     1      0
525        0     0      0
457        1     1      0

[179 rows x 3 columns]

In [28]:
print("Recall:", recall_score(Y_test, Y_predict_test))
print("Precision:", precision_score(Y_test, Y_predict_test))
print("F1 Score:", f1_score(Y_test, Y_predict_test))
print("Confusion Matrix:\n", confusion_matrix(Y_test, Y_predict_test))
print("Classification Report:\n", classification_report(Y_test, Y_predict_test))

Recall: 1.0
Precision: 1.0
F1 Score: 1.0
Confusion Matrix:
 [[103   0]
 [  0  76]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       103
           1       1.00      1.00      1.00        76

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179